<div class="md-block ">
    <div layout="row">
        <div class="input_group full_width">
            <label class="flex-17" for="Pump">Pump</label>
            <input type="text" ng-model="pfc.gatepass.fuel_pump">
        </div>
    </div>
    <div layout="row">
        <div class="input_group full_width">
            <label class="" for="Fuel Id">Fuel Id </label>
            <input type="text" ng-model="pfc.gatepass.fuel_slip_id">
        </div>
        <!-- good details  block end -->
    </div>
    <div layout="row">
        <div layout="row" layout-sm="column">
            <div class="input_group " id=" popupContainer ">
                <label class="" for="expense">Expense </label>
                <input type="text" ng-click="showAdvanced()" >
            </div>
            <div class="input_group">
                <label for="Date ">Date</label>
                <input type="date" class="ng-pristine ng-valid md-input ng-touched ">
            </div>
        </div>
        <!-- good details  block end -->
    </div>
    <div layout="row ">
        <div layout="row " layout-sm="column ">
            <div class="input_group ">
                <label class="" for="quantity ">Quantity</label>
                <input ng-model="pfc.gatepass.fuel_quantity" type="number"> </div>
            <div class="input_group ">
                <label for="mobil_oil ">Mobil oil</label>
                <input type="number" ng-model="pfc.gatepass.mobiloil"> </div>
        </div>
        <!-- good details  block end -->
    </div>
</div>
