@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body {
    font-family: open sans;
}
.pd0 {
    padding: 0 !important;
}
.card_wrap {
    padding: 0;
    margin: 15px 15px 30px 15px;
    border: 1px solid #e1e1e1;
}
h4 {
    color: #424242;
    font-size: 16px;
    font-weight: 400;
}
.pd_t40 {
    padding-top: 40px;
}
.border-left {
    border-left: 1px solid #ccc;
}
.pd_l40 {
    padding-left: 40px !important;
}
*:focus {
    outline: none;
}
p {
    margin-top: 9px;
}

/*================= Extsassssend style start =============== */

.red_text {
    color: #ff0000;
}
.black {
    background: #424242 !important;
}
.red {
    background: #ff0000 !important;
}
.l-grey {
    background: #f3f3f3 !important;
}
.primary_p {
    color: #333;
    font-size: 15px;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.heading_h3 {
    font-size: 23px;
    font-weight: 300;
}

/*================= Extend  style end =============== */


/*================= variables style start =============== */

.wrap_contain {
    padding: 20px 10px;
}
new-voucher {
    form {
        position: relative;
    }
}
.wrapper {
    max-width: 1200px !important;
    padding-top: 10px;
}
md-card {
    margin: 0px 0 0 0;
    box-shadow: none;
    i {
        font-size: 18px;
        color: #7d7d7d;
    }
    .layout-row {
        padding: 0 !important;
    }
    section {
        width: 100% !important;
        float: left !important;
    }
    .main_wrapper {
        margin-top: 20px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
    .clearfix {
        clear: both;
    }
    .layout-wrap {
        input {
            border: 1px solid #e1e1e1;
            padding: 5px 10px;
        }
        p {
            margin-top: 9px !important;
        }
    }
    label {
        font-size: 14px;
        color: #666666 !important;
        width: 120px;
        margin-bottom: 5px;
        display: inline-block;
        i {
            margin-right: 10px;
            font-size: 22px;
        }
    }
    .input_group {
        margin-bottom: 10px;
    }
    .submit_button {
        border-bottom: 1px solid #ccc;
        padding: 3px 10px;
        p {
            padding-top: 10px;
            margin: 0;
            float: left;
        }
        button {
            color: #fff !important;
            float: right;
            min-height: 32px;
            height: 32px;
            line-height: 20px;
        }
    }
    .main_heading {
        background-color: #ff0000;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        h1 {
            font-size: 20px;
            margin: 0;
            color: #fff;
            padding: 20px;
        }
    }
}
.user_block {
    position: absolute;
    right: 2%;
    top: 15px;
    p {
        font-size: 15px;
        color: #fff;
        margin: 5px 0 0 10px;
        float: left;
    }
    span {
        font-size: 13px;
        color: #fff;
        margin: 0px 0 0 15px;
        float: right;
        background: red;
        padding: 8px 15px;
        text-transform: uppercase;
        border-radius: 3px;
    }
}

/*============== header block =============== */

div[layout="column"] {
    md-toolbar {
        @extend .black;
        position: relative;
        .toolbar_left {
            position: relative;
            top: 0px;
        }
        md-datepicker {
            background: none;
            .md-datepicker-input-container {
                border: none !important;
                .md-datepicker-input {
                    border: none;
                    color: #fff;
                    background: none;
                    min-width: 95px !important;
                    height: 31px;
                }
            }
        }
    }
}
.warehouse {
    float: left;
    display: inline-block;
    p {
        float: left;
        margin: 5px 0 0 10px;
        font-size: 18px;
        i {
            margin-right: 10px;
            font-size: 20px;
        }
    }
    input {}
    md-autocomplete {
        float: left;
        margin-left: 15px;
        background: none;
        border: 1px solid #ccc;
        width: 280px;
    }
}
.md-toolbar-tools {
    h3 {
        margin: 12px 5px 0 0px;
        border-right: 2px solid #fff;
        float: left;
        padding-right: 10px;
        line-height: 16px;
        font-weight: 300;
    }
    .date_picker {
        width: 160px;
        float: left;
        margin-left: 10px;
        margin-top: 2px;
        span {
            font-size: 15px;
        }
    }
}
.md-datepicker-calendar-icon,
.md-datepicker-button {
    display: none;
}
.md-datepicker-calendar-pane {
    border: none;
    top: 24px !important;
    left: 120px !important;
    box-shadow: none;
    .md-datepicker-input-mask-opaque {
        background: none;
    }
    .md-calendar-month-label {
        color: #fff !important;
    }
    .md-datepicker-calendar {
        background: #424242;
    }
    .md-pane-open .md-datepicker-calendar {
        background: #424242;
    }
    .md-calendar-date-today {
        .md-calendar-date-selection-indicator {
            color: #424242;
        }
    }
    .md-datepicker-input-container {
        border: 0;
    }
    .md-datepicker-button {
        display: none;
    }
    .md-datepicker-input {
        min-width: 95px;
    }
}
.md-button.md-icon-button {
    height: 10px !important;
    width: 10px !important;
}
.md-datepicker-triangle-button {
    top: 25% !important;
    opacity: 0;
    left: -50px;
    min-width: 95px !important;
    .md-datepicker-expand-triangle {
        border-top-color: #fff !important
    }
}
.md-calendar-scroll-container {
    background: #424242;
    border: none;
    padding-left: 0;
    margin-left: 0;
}
.md-calendar-date-selection-indicator {
    color: #fff !important;
}
.toolbar_right {
    p {
        @extend .primary_p;
    }
}
.gd1_left {
    border-right: 1px solid #ccc;
    margin-right: 15px;
}
.md-block {
    h4 {
        margin: 5px 0 10px 0;
    }
}
.input_block {
    .input_group {
        &:first-child {
            margin-right: 20px;
        }
        p {
            display: inline-block;
            font-size: 14px;
            color: #a6a5a5;
            margin-top: 5px !important;
        }
    }
}
.gd1_right {
    box-sizing: border-box
}
.input_50 {
    background: #f5f5f5;
    padding: 15px 20px;
    input {
        width: 75px;
    }
}
md-item {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: block;
    margin-bottom: 20px;
}
.input_group {
    input {
        border: 1px solid #e1e1e1;
        padding: 0px 0px 0 10px;
        height: 30px;
        font-size: 13px;
        margin-top: 0 !important;
    }
    p {
        display: inline-block;
        font-size: 14px;
        color: #a6a5a5;
        margin-bottom: 5px;
    }
}
.list_block {
    ul {
        padding: 0;
        li {
            list-style: none;
            font-size: 14px;
            margin-bottom: 10px;
            color: #666666;
        }
    }
}
.listblock_dtl {
    margin-top: 20px;
    .listblock_dtl1 {
        border: 0;
    }
    .input_group {
        margin-bottom: 0;
    }
    .pd_l40 {
        padding-left: 40px !important;
    }
}
.notifications_block {
    padding: 0 10px 10px 10px;
    margin: 15px 15px 20px 15px;
    width: 100%;
    h1 {
        font-size: 22px;
        color: #424242;
        font-weight: 500;
        margin: 0 0 20px 0;
    }
    ul {
        padding: 0;
        width: 100%;
        li {
            list-style: none;
            display: inline-block;
            background: #f3f3f3;
            padding: 7px;
            width: 96%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 1px;
            border-radius: 3px;
            i {
                font-size: 18px;
                margin: 0 15px;
            }
            a {
                color: #666;
                font-size: 13px;
                font-weight: 400;
                text-decoration: none;
                padding: 2px 0px;
                background: #f3f3f3;
                width: 46%;
                display: inline-block;
                &.tripid {
                    font-weight: bold;
                    font-size: 14px;
                    i {
                        color: #666
                    }
                }
                i {
                    margin: 0 10px 0 5px;
                    color: #888;
                }
            }
            span {
                display: block;
                width: 100%;
            }
        }
    }
}
.detail_block2 {
    .gd1_left {
        .input_group {
            width: 100%;
            label {
                width: 65px;
                font-size: 13px;
            }
            input {
                width: 78%;
            }
        }
    }
}
ui-view {
    display: block;
    width: 100%;
}
.viwe_more_card {
    margin: 15px;
}
.view_more {
    background: #424242;
    padding: 10px;
    color: #fff;
    position: relative;
    p {
        margin: 0;
        padding: 0px 20px 0px 15px;
        position: absolute;
        width: 97%;
        height: 52px;
        left: 0;
        top: 0;
        line-height: 52px;
    }
    i {
        float: right;
        font-size: 24px;
        color: #fff;
    }
}
.new_vocher_block {
    .gd1_left {
        width: 420px;
        padding-right: 15px;
    }
}
.mat_list p {
    margin-right: 10px;
}
open-gatepass {
    .gd1_left {
        max-width: 436px !important;
        padding-left: 34px;
    }
    .more_block {
        position: relative;
        p {
            max-width: 70px!important;
            display: inline-block;
            width: 250px;
        }
    }
    .layout-fill {
        height: auto;
        min-height: auto;
    }
    .input_group {
        .full-width {
            width: 150px !important;
            max-width: 150px !important;
        }
    }
    .label_96 {
        label {
            width: 96px !important;
        }
    }
    .pd_l20 {
        padding-left: 20px !important;
    }
}
.View_More {
    content: "View More";
}
.bold {
    font-weight: bold !important;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.col-3 {
    width: 33.3%;
    float: left;
}
.collaps.item_detail {
    height: 225px !important
}
.ng-isolate-scope {
    padding: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.close_gatepss {
    open-gatepass {
        .submit_button {
            button {
                //                    &:[disabled="disabled"] {
                //                    display: none;
                //                }
            }
        }
    }
}
button {
    &.refresh_icon {
        padding: 0px 10px 0 0;
        color: #333;
        display: inline-block !important;
        float: left !important;
        border: none;
        background: none;
        margin-top: 5px;
    }
    i {
        font-size: 25px;
    }
}
.md-toolbar-tools {
    width: 100%;
    .toolbar_left {
        float: left;
        width: 75%;
    }
    .toolbar_right {
        float: right;
        width: 300px;
        .user_block {
            float: right;
        }
    }
}
button {
    &[ng-required="false"] {}
}
.close_gatepass {
    margin: 15px !important;
    display: block;
    border: 1px solid #ccc;
    .refresh_icon {
        display: none !important;
    }
}
.empty_block {
    padding: 20px 0 20px 0;
    text-align: center;
    i {
        display: block;
        font-size: 50px;
        padding: 4px 0 10px 0;
        color: lightgreen;
    }
}
.pump_form {
    border: 1px solid #e1e1e1;
    padding: 0 0 0 10px;
    height: 30px;
    font-size: 13px !important;
    margin-top: 0!important;
    background: none;
    width: 55%;
}
.error_popup {
    border: 1px solid #ccc;
    background: #fff;
    font-size: 15px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 3%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff !important;
    border: 1px solid #ccc;
}
.logo {
    display: block;
    margin: 0 auto 20px;
    img {
        width: 200px;
        margin: 0 auto;
    }
}
.login {
    background: url("../assets/images/login-bg.jpg");
    height: 100%;
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    .login_container {
        height: 1000px;
        overflow-y: scroll;
    }
}
md-card.md-default-theme,
md-card {
    background: none;
    md-item {
        background: #fff;
    }
}
#popuperror {
    md-dialog {
        max-width: 30%;
        .md-dialog-content {
            padding: 0px !important;
            h2 {
                color: red;
                font-size: 18px !important;
            }
            p {
                font-size: 14px !important;
            }
        }
    }
}
md-dialog-actions {
    button {
        background: #424242 !important;
        padding: 10px 20px;
        span {
            color: #fff;
            font-weight: bold;
            font-size: 14px;
        }
    }
}
