.gd1_left {
    .input_group {
        display: inline-block;
        width: 100%;
        label {
            float: left;
        }
        input {
            width: 82px;
            float: left;
        }
    }
}
.gd1_right {
    .input_group {
        label {
            width: 70px;
        }
        input {
            width: 65px;
            float: right;
        }
    }
}
