<!-- USING ROW FOR DESKTOP AND COLUMN FOR MOBILE DEVICES -->
<form>
    <md-card class="c_shadow_none">
        <!-- submit button -->
        <div class="submit_button l-grey">
            <button class="md-raised md-button md-ink-ripple black" type="button" aria-label="Button" ng-click="mc.voucherSubmit(mc.gastepass);"><span class="ng-scope">Submit</span>
                <div class="md-ripple-container"></div>
            </button>
        </div>
    </md-card>
    <!-- submit button -->

    <md-card class="layout-padding c_shadow_none wrap_contain new_vocher_block">
        <div layout="row" layout-sm="column" flex="100" class="detail_block1">
            <div class="md-block gd1_left pd_t40" flex="50">
                <div class="input_group ">
                    <label for="vehicle_no "><i class="ion-android-bus "></i>vehicle No :</label>
                    <input name="vehicle" ng-model="mc.gatepass.vehicle">
                </div>
                <div class="input_group ">
                    <label for="driver "><i class="ion-android-person "></i>Driver :</label>
                    <input name="driver" ng-model="mc.gatepass.driver">
                </div>
            </div>
            <div class="md-block gd1_right">
                <h4><i class="ion-settings "></i> Material</h4>
                <div class="input_block input_50">
                    <div layout="row" layout-sm="column">
                        <!--                        <div class="input_group " ng-repeat="item in mc.gatepass.items">-->
                        <div class="input_group " ng-repeat="item in mc.gatepass.gatepass.items">
                            <label class="flex-35">FC19</label>
                            <input placeholder="" type="text">
                        </div>
                        <div class="input_group ">
                            <label class="flex-35" for="FC35">FC35</label>
                            <input placeholder="" type="text">
                        </div>
                    </div>
                    <div layout="row" layout-sm="column">
                        <div class="input_group">
                            <label class=" flex-35 " for="FC47 ">FC47.5</label>
                            <input type="text">
                        </div>
                        <div class="input_group">
                            <label class="flex-35" for="FClot47">FC47.5Lot</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-sm="column" flex="100" class="detail_block2" ng-hide="!mc.isCollapsed">
            <div class="md-block gd1_left" flex="50" layout-fill="">
                <div layout="row">
                    <div layout="row" layout-sm="column" layout-fill="">
                        <div class="input_group ">
                            <label class="flex-20" for="Pump">Pump</label>
                            <input class="flex-90" name="fuel_pump">
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div layout="row" layout-sm="column">
                        <div class="input_group ">
                            <label class="flex-35" for="expenses">Expense </label>
                            <input class="flex-55" name="expenses">
                        </div>
                        <div class="input_group ">
                            <label class="flex-35" for="gatepass_type">Type</label>
                            <input class="flex-55" name="gatepass_type">
                        </div>
                    </div>
                    <!-- good details  block end -->
                </div>
                <div layout="row">
                    <div layout="row" layout-sm="column">
                        <div class="input_group ">
                            <label class="flex-35" for="quantity">Quantity</label>
                            <input class="flex-55 " name="fuel_quantity">
                        </div>
                        <div class=" input_group ">
                            <label class="flex-35 " for="mobil_oil ">Mobil oil</label>
                            <input class="flex-55 ng-valid md-input ng-touched ">
                        </div>
                    </div>
                    <!-- good details  block end -->
                </div>
            </div>
            <div class="md-block gd1_right ">
                <div class="input_block input_50 ">
                    <div layout="row " layout-sm="column ">
                        <div class="input_group ">
                            <label class="flex-35 " for="EC19 ">EC19</label>
                            <input class=" ng-valid md-input ng-touched ">
                        </div>
                        <div class="input_group ">
                            <label class="flex-35 " for="EC35 ">EC35</label>
                            <input class="ng-pristine ng-valid md-input ng-touched ">
                        </div>
                    </div>
                    <div layout="row " layout-sm="column ">
                        <div class="input_group ">
                            <label class=" flex-40 " for="EC47 ">EC47.5</label>
                            <input class="ng-valid md-input ng-touched ">
                        </div>
                        <div class="input_group ">
                            <label class="flex-40 " for="EClot47 ">EC47.5Lot</label>
                            <input class="ng-valid md-input ng-touched ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
    <!-- view more block -->
    <md-card class="c_shadow_none viwe_more_card " ng-click="mc.isCollapsed=!mc.isCollapsed " ng-init="ClickToEditCtrl=true ">
        <!-- submit button -->
        <div class=" view_more ">
            <div ng-hide=" editorEnabled ">
                <p href="# " ng-click="editorEnabled=!editorEnabled ">View More</p>
            </div>
            <div ng-show="editorEnabled ">
                <p href="# " ng-click="editorEnabled=!editorEnabled ">View Less</p>
            </div>
            <i class="icon accordian_icon " ng-class="mc.isCollapsed ? 'ion-ios-minus-outline' : 'ion-android-add-circle ' "></i>
        </div>

    </md-card>
</form>
