<div layout="row" layout-margin layout-fill class="md-block gd1_left listblock_dtl1">
    <div class="md-block  listblock_dtl1 pd_l35" flex="100" layout-fill="">
        <div layout="row">
            <div layout="row" layout-sm="column" layout-fill="">
                <div class="input_group label_96">
                    <label class="flex-50" for="Pump">Pump</label>
                    <p class="flex-50 full-width">{{ pvc.gatepass.fuel_pump}} </p>
                </div>
            </div>

        </div>
        <div layout="row">
            <div layout="row" layout-sm="column" layout-fill="">
                <div class="input_group label_96">
                    <label class="flex-50" for="Pump">Fuel Id</label>
                    <p class="flex-50 full-width">{{ pvc.gatepass.fuel_slip_id}} </p>
                </div>
            </div>
        </div>
        <div layout="row">
            <div layout="row" layout-sm="column">
                <div class="input_group ">
                    <label class="flex-50" for="expense">Expense</label>
                    <p>{{ pvc.gatepass.expenses}}</p>
                </div>
                <div class="input_group ">
                    <label class="flex-50 " for="type ">Date</label>
                    <p>{{ pvc.gatepass.gatepass_type}} </p>
                </div>
            </div>
            <!-- good details  block end -->
        </div>
        <div layout="row ">
            <div layout="row " layout-sm="column ">
                <div class="input_group ">
                    <label class="flex-50 " for=" quantity ">Quantity</label>
                    <p>{{ pvc.gatepass.fuel_quantity }}</p>
                </div>
                <div class="input_group ">
                    <label class="flex-50 " for="mobil_oil ">Mobil oil</label>
                    <p>{{ pvc.gatepass.mobiloil}} </p>
                </div>
            </div>
            <!-- good details  block end {{ vm.gatepass.items.quantity}}   -->
        </div>
    </div>
</div>
<!-- good details  block end -->
