<div layout="row" layout-margin layout-fill class="md-block gd1_left listblock_dtl1">
    <div class="md-block  listblock_dtl1 pd_l35" flex="100" layout-fill="">
        <div layout="row">
            <div layout="row" layout-sm="column" layout-fill="">
                <div class="input_group label_96">
                    <label for="Pump">Pump</label>
                    <p class=" full-width">{{ pvc.gatepass.fuel_pump}} </p>
                </div>
            </div>
        </div>
        <div layout="row">
            <div class="input_group">
                <label for="Pump">Fuel Id</label>
                <p>{{ pvc.gatepass.fuel_slip_id}} </p>
            </div>
            <div class="input_group ">
                <label for="expense">Expense</label>
                <p>{{ pvc.gatepass.expenses}}</p>
            </div>
            <!-- good details  block end -->
        </div>
        <div layout="row">
            <div class="input_group ">
                <label for=" quantity ">Quantity</label>
                <p>{{ pvc.gatepass.fuel_quantity }}</p>
            </div>
            <div class="input_group ">
                <label for="mobil_oil ">Mobil oil</label>
                <p>{{ pvc.gatepass.mobiloil}} </p>
            </div>
            <!-- good details  block end {{ vm.gatepass.items.quantity}}   -->
        </div>
    </div>
</div>
<!-- good details  block end -->
