<md-toolbar>
    <div class="md-toolbar-tools">
        <div class="toolbar_left md-default-theme">
            <h3> ERP </h3>
            <div class="date_picker"> <span>Date</span>
                <md-datepicker ng-model="mc.workingDate" md-placeholder="Enter date" ng-change="mc.onDateChange()"> </md-datepicker>
            </div>
            <div class="warehouse">
                <p><i class="ion-ios-home-outline" aria-hidden="true"></i>warehouse</p>
                <md-autocomplete md-selected-item="mc.warehouse" md-item-text="item.value" md-items="item in mc.searchWarehouse(ctrl.txtWarehouse)" md-search-text="ctrl.txtWarehouse" md-min-length="0" placeholder="Select vehicle" md-no-cache="noCacheResults" ng-required="!mc.warehouse">
                    <md-item-templat> <span md-highlight-text="ctrl.txtWarehouse" md-highlight-flags="^i">{{item.value}}</span> </md-item-templat>
                    <md-not-found>
                        No warehouse matching "{{ctrl.txtWarehouse}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </div>
        <div class="toolbar_right md-default-theme">
            <div class="user_block"> <img src="img/user" alt="user" />
                <p>Username</p>
            </div>
        </div>
    </div>
</md-toolbar>
