.gd1_left {
    .input_group {
        display: inline-block;
        width: 100%;
        label {
            float: left;
        }
        input {
            width: 82px;
            float: left;
        }
    }
}
.gd1_right {
    .input_group {
        label {
            width: 70px;
        }
        input {
            width: 65px;
            float: right;
        }
    }
}
md-autocomplete {
    float: left;
    background: none;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    md-autocomplete-wrap {
        box-shadow: none !important;
        input {
            border: 1px solid #e1e1e1;
            padding: 0 0 0 10px;
            height: 30px;
            font-size: 13px;
            margin-top: 0!important;
            box-shadow: none;
        }
    }
}
.reqired_fields {
    p {
        padding: 0 10px;
        color: red;
        font-size: 14px;
    }
}
input[aria-required="true"] {
    box-shadow: inset 0px 0px 4px red;
    ;
}
md-autocomplete[required="required"] {
    &:after {
        content: "*";
        float: right;
        position: absolute;
        top: 0;
        right: -15px;
        color: red;
    }
}
